/* PLACE YOU CUSTOM STYLES IN THIS FILE */

/* Rating */
.rating-area {
    overflow: hidden;
    width: 140px;
}
.rating-area:not(:checked) > input {
    display: none;
}
.rating-area:not(:checked) > label {
    float: right;
    padding: 0;
    cursor: pointer;
    font-size: 32px;
    line-height: 32px;
    color: lightgrey;
}
.rating-area:not(:checked) > label:before {
    content: "\2605";
}
.rating-area > input:checked ~ label {
    color: #dd163b;
}
.rating-area:not(:checked) > label:hover,
.rating-area:not(:checked) > label:hover ~ label {
    color: #dd163b;
}
.rating-area > input:checked + label:hover,
.rating-area > input:checked + label:hover ~ label,
.rating-area > input:checked ~ label:hover,
.rating-area > input:checked ~ label:hover ~ label,
.rating-area > label:hover ~ input:checked ~ label {
    color: #dd163b;
}
.rating-area > label:active {
    position: relative;
}

/* The switch - the box around the slider */
.switch-label {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 17px;
}

/* Hide default HTML checkbox */
.switch-label input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.switch-input {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .2s;
    transition: .2s;
}

.switch-input:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .2s;
    transition: .2s;
}

input:checked + .switch-input {
    background-color: #2196F3;
}

input:focus + .switch-input {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .switch-input:before {
    -webkit-transform: translateX(13px);
    -ms-transform: translateX(13px);
    transform: translateX(13px);
}

/* Rounded sliders */
.switch-input.round {
    border-radius: 17px;
}

.switch-input.round:before {
    border-radius: 50%;
}

.nk-main {
    min-height: 100vh;
}

.nk-social-links-2 > li > * {
    line-height: 28px;
}

@media (max-width: 991px) {
    .nk-product-cat-2 .nk-product-image {
        float: none;
        width: 100%;
        padding: 20px;
    }
}