/* PLACE YOU CUSTOM STYLES IN THIS FILE */

/* Rating */
.rating-area {
    overflow: hidden;
    width: 140px;
}
.rating-area:not(:checked) > input {
    display: none;
}
.rating-area:not(:checked) > label {
    float: right;
    padding: 0;
    cursor: pointer;
    font-size: 32px;
    line-height: 32px;
    color: lightgrey;
}
.rating-area:not(:checked) > label:before {
    content: "\2605";
}
.rating-area > input:checked ~ label {
    color: #dd163b;
}
.rating-area:not(:checked) > label:hover,
.rating-area:not(:checked) > label:hover ~ label {
    color: #dd163b;
}
.rating-area > input:checked + label:hover,
.rating-area > input:checked + label:hover ~ label,
.rating-area > input:checked ~ label:hover,
.rating-area > input:checked ~ label:hover ~ label,
.rating-area > label:hover ~ input:checked ~ label {
    color: #dd163b;
}
.rating-area > label:active {
    position: relative;
}

/* The switch - the box around the slider */
.switch-label {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 17px;
}

/* Hide default HTML checkbox */
.switch-label input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.switch-input {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .2s;
    transition: .2s;
}

.switch-input:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .2s;
    transition: .2s;
}

input:checked + .switch-input {
    background-color: #2196F3;
}

input:focus + .switch-input {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .switch-input:before {
    -webkit-transform: translateX(13px);
    -ms-transform: translateX(13px);
    transform: translateX(13px);
}

/* Rounded sliders */
.switch-input.round {
    border-radius: 17px;
}

.switch-input.round:before {
    border-radius: 50%;
}

.nk-main {
    min-height: calc(100vh - 117px - 74px);
}

.nk-social-links > li > * {
    width: 25px;
    height: 25px;
    font-size: 1.3em;
    line-height: 25px;
    border-radius: 15px;
}

@media (max-width: 991px) {
    .nk-product-cat-2 .nk-product-image {
        float: none;
        width: 200px;
        padding: 20px;
    }
}

.nk-rating-label {
    color: #dd163b;
}

.nk-contacts-icons > li {
    margin: 3px 13px;
}

.resize-none {
    resize: none;
}

@media (max-width: 576px) {
    .modal-dialog {
        margin-top: 90px !important;
    }
}

.nav-mr-right {
    margin-right: 10px;
}

@media (max-width: 767px) {
    .nav-mr-right {
        margin-right: 0;
    }
    .nk-contacts-right {
        width: 100%;
    }

    .nk-navbar-top {
        display: none;
    }
}

.nk-social-instagram:hover {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
}
.nk-social-telegram:hover {
    background-color: #0088cc !important;
}

.pswp img {
    max-width: none;
    object-fit: contain;
}
